# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\informatica\Core Wars\Juno\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
